.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    

  }
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    height: inherit;
  
    h1{
      font-size: 8rem;
    }
  
    .cards{
      display: flex;
      justify-content: center;
      gap: 3rem;
      flex-wrap: wrap;
  
      .card{
        display: flex;
        font-size: 2.5rem;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        width: 30rem;
        height: 10rem;
        cursor: pointer;
      }
    }
  }
  
  @media (max-width: 475px) {
   .main-content{
    h1{
      font-size: 4rem;
    }
   }
  }